body {
  background-color: rgb(104, 187, 285);
  font-family: Helvetica, sans-serif;
  line-height: 1.5em;
}

h1 {
  font-weight: lighter;
}

h3 {
  margin: 1.2em 0 -0.6em 0;
}

/* ////////////////////// HEADER ////////////////////// */

header {
  text-align: center;
  color: white;
  margin-bottom: 10vh;
}

/* ////////////////////// CONTAINER ////////////////////// */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  word-wrap: break-word;
}

/* ////////////////////// LEFT BOX ////////////////////// */

#left-box {
  float: left;
  background-color: rgb(9, 30, 45);
  color: white;
  padding: 16px;
  width: 20%;
}

#left-box img {
  max-width: 50%;
  margin: auto;
  display: block;
}

#left-box ul {
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

#left-box li {
  font-weight: normal;
}

/* ////////////////////// RIGHT BOX ////////////////////// */

#right-box {
  width: 70%;
}

#experiences-box, #studies-box {
  background-color: white;
  padding: 2px 16px;
}

/* ////////////////////// FOOTER ////////////////////// */

footer {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
}
